{% load static %}

            
                <!--LOGO-->
                <div class="logo">
                    <a href="#"> <img src="{% static 'img/appointment_form/LOGO-01.svg' %}" alt="LOGO"></a>
                </div>
                <div class="dashboard" >
                    <a  href="{% url 'accounts:dashboard' %}">Dashboard</a> <br>
                </div>
                <div class="appointments" data-bs-toggle="collapse" data-bs-target="#appointmentsCollapse" aria-expanded="true" aria-controls="appointmentsCollapse">
                  <a  href="{% url 'appointments:appointments' %}">Appointments</a> <br>
              </div>
              <div class="collapse multi-collapse" id="appointmentsCollapse">
                <ul id="appointment-collapse-list">
                  <li><a id="Collapse-item" href="{% url 'appointments:appointments' %}">All</a></li>
                  <li><a id="Collapse-item" href="{% url 'appointments:pending_appointments' %}">Pending</a></li>
                  <li><a id="Collapse-item" href="{% url 'appointments:appointments' %}">Approved</a></li>
                <!--<li><a id="Collapse-item" href="{% url 'appointments:appointments' %}" style="color: #3399ff;">Canceled</a></li>-->
                </ul>
              </div>
                <div class="patients">
                    <a href="{% url 'patients:patients' %}">Patients</a>
                </div>
                <div class="drugs">
                    <a href="{% url 'drugs:drugs' %}">Drugs</a>
                </div>
                <div class="consultation">
                    <a href="{% url 'consultations:consultations' %}">Consultations</a>
                </div>
                <div class="bills">
                    <a href="{% url 'bills:bills' %}">Bills</a>
                </div>
                <div class="prescriptions">
                    <a href="{% url 'prescriptions:prescriptions' %}">Prescriptions</a>
                </div>

                <div class="patients py-5">
                <form id='my_form' action="{% url 'accounts:logout' %}" method='post' > 
                {% csrf_token %}
                  <a href="javascript:{}" onclick="document.getElementById('my_form').submit();">Logout</a>
                </form>
                </div>