@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

#numberinput{
  width: 100%;
  margin: 5px;
  padding:15px 20px;
  display: inline-block;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
}
.logo {
  width: 25%;
  margin-left: 10%;
  margin-top: 10%;
}

div h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 10%;
  margin-top: 13%;
  font-size: 350%;
  color: #3399ff;
}

div h1 span {
  font-weight: 900;
}

.appointment-img {
  width: 80%;
  margin-left: 7%;
  margin-top: 6%;
}

.form-control-lg {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.appointment-form {
  margin: 5% 5% 5% 5%;
}

input[type="text"],
[type="email"],
[type="date"] {
  width: 100%;
  margin: 5px;
  padding:15px 20px;
  display: inline-block;
  border: 3px solid #c4c4c4;
  border-radius: 10px;

}

.btn-lg {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin: 5% 12%;
  background-color: #3399ff;
  font-weight: 700;
  border-radius: 10px;
  border: none ;
  width: 80%;
  padding: 1.5%;


}

.success-img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 30%;
}

div h2{
  color: #757575;
}
