{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href={% static 'css/appointment-form.css' %} >
{% endblock  %}

{% block content %}
            <h1 class="mt-7">Add Patient</h1>
              <!--patient form-->
              <div class="appointment-form">
                <form enctype="multipart/form-data" action="{% url 'patients:add_patient' %}" method='POST'>
                {% csrf_token %}
                  <!--Container-->
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6"> <!--First name-->
                        {{patient_form.fname}}
                      </div>
                      <div class="col-md-6"><!--Last name-->
                        {{patient_form.lname}}
                      </div>
                      <div class="col"><!--Birth date-->
                        {{patient_form.birth}}  
                      </div>
                    </div>
                    <div class="col"><!--Mail-->
                      {{patient_form.email}}
                    </div>
                    <div class="col"><!--Phone num-->
                      {{patient_form.phone}}
                    </div>
                    <div class="col"><!--Adresse-->
                      {{patient_form.adresse}}
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <button class="btn btn-primary btn-lg" type="submit">Add patient</button>
                    </div>
                  </div> <!--End Container-->
                </form> <!--End Form-->
              </div>

{% endblock  %}