{% extends 'patients\add_patient\base_book.html' %}

{% load static %}




{% block content %}
<div class="col-xl-12" style="background-color: #fafafa; height: 100vh;">
  <div class="d-flex justify-content-center">
    <img class="success-img" src="{% static 'img/appointment_form/tick.png' %}" alt="appointment-img">
  </div>
  <div class="d-flex justify-content-center">
    <h2>Patient Has been <br>added successfully!</h2>
  </div>
  <form action="{% url 'patients:patients' %}" method='post'>
    {% csrf_token %}
    <button class="btn btn-primary btn-lg px-1" type="submit">Back To patient List</button>
  </form>
</div>
</div>


</div>
{% endblock %}