{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
          <div class="row py-5">
            <div class="col py-3 px-5">
              <h1 id="Page-title">Consultations</h1>
              <!--Consultations Title-->
            </div>
          </div>
          <div class="row px-5">

            <!--New consultationButton-->
            <div class="col-5">
              {% if user == 'doctor' %}
              <button type="submit" class="btn btn-primary btn-md" id="Add-btn" data-bs-target="#consultation-1"
                data-bs-toggle="modal" data-bs-dismiss="modal">Start New Consultations</button>
              {% endif %}
            </div>
            <!--End New consultationButton-->

            <!--Search bar-->
            <div class="col d-flex justify-content-end">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="user-input">
                <button class="btn btn" type="submit" id="Search-btn">Search</button>
              </form>
            </div>
          </div>
          <!--End Search bar-->

          <div class="row px-5 py-5" id="replaceable-content">
            <!--row-->

            <!--Consultations List-->
            {% include 'partials/consultations_search.html' %}
          </div>
          <!--End row-->

        </div>
        <!--End Container-->
        
  <!-- ******************* Consultation form *******************-->


  <div class="modal animate__animated animate__fadeIn animate__fast" id="consultation-1" data-bs-backdrop="static"
    data-bs-keyboard="false" aria-hidden="true" aria-labelledby="consultationlabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <!-- === Modal Header === -->
        <div class="modal-header text-center shadow mb-3" id="modalheader">
          <h5 class="modal-title w-100" id="consultationlabel">Patient Consultation</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- === End Modal Header === -->

        <!-- === Modal Body === -->
        <div class="modal-body">

          <div class="container" id="Consultation-form">

            <form action="{% url 'consultations:add_consult' %}"  method='post'>
            {% csrf_token %}
              <div class="row py-2">
                <div class="col">
                <label>Patient</label>
                  {{consult_form.patient}}
                </div>
              </div>

              <div class="row py-2">
                <div class="col">
                <label>Consultation Type</label>
                  {{consult_form.cons_type}}
                </div>
              </div>

              <div class="row py-3">
                <div class="col">
                  <label>Reason</label>
                  {{consult_form.reason}}
                </div>
              </div>

              <hr>

              <div class="row pt-3">
                <div class="col">
                  <label>Examination</label>
                  {{consult_form.examine}}
                </div>
              </div>

              <hr>


              <div class="row pt-3">
                <div class="col">
                  <label>Conclusion</label>
                  {{consult_form.conclusion}}
                </div>
              </div>
            <div class="row">
                <div class="col d-flex justify-content-center py-3">
                  <button class="btn btn-primary btn-lg" type="submit" id="create-profile-btn">Save Consultation</button>
                </div>
              </div>


            </form>
          </div>
          <!--End Form-->

        </div>
        <!-- === End Modal Body === -->

      </div>
    </div>
  </div>

  <!-- ******************* Consultation form *******************-->
      </div>{% endblock  %}


{% block custom_js %}
<script>
const user_input= $("#user-input")
const search_icon = $('#Search-btn')
const artists_div = $('#replaceable-content')
const endpoint = '/consultations/'
const delay_by_in_ms = 300
let scheduled_function = false

let ajax_call = function (endpoint, request_parameters) {
    $.getJSON(endpoint, request_parameters)
        .done(response => {
            // fade out the artists_div, then:
            artists_div.fadeTo('slow', 0).promise().then(() => {
                // replace the HTML contents
                artists_div.html(response['html_from_view'])
                // fade-in the div with new contents
                artists_div.fadeTo('slow', 1)
                // stop animating search icon
                search_icon.removeClass('blink')
            })
        })
}


user_input.on('keyup', function () {

    const request_parameters = {
        q: $(this).val(),// value of user_input: the HTML element with ID user-input
    }


    // start animating the search icon with the CSS class
    search_icon.addClass('blink')

    // if scheduled_function is NOT false, cancel the execution of the function
    if (scheduled_function) {
        clearTimeout(scheduled_function)
    }

    // setTimeout returns the ID of the function to be executed
    scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
})
</script>
{% endblock  %}