{% extends 'base.html' %}

{% block title %} Appointments{% endblock  %}

{% block content %}
<h1>Appointments List</h1>

<ul class="list-group">
{% for patient in appointments %}
    <h6>{{patient.appointment_state}}</h6>
    <li class="list-group-item">{{patient.patient.fname}} {{patient.patient.lname}} {{patient.patient.phone}}</li>
{% endfor %}
</ul>

<form action="{% url 'appointments:add-appointment' %}">
    <button class="btn btn-primary btn-lg" type="submit">add appointment</button>
</form>

{% endblock  %}