{% extends 'base.html' %}

{% block title %} Appointments{% endblock %}

{% block content %}
<div class="d-grid gap-5 d-sm-flex mt-4 ">
    <h1>Appointments List</h1>

    <form action="{% url 'appointments:add-appointment' %}">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg" type="submit">add appointment</button>
    </form>
</div>


<div class="row mt-4">
    <div class="col">
        <h3>Approved Appointments</h3>
        <ul class="list-group">
            {% for patient in approved_appointments %}
            <li class="list-group-item"> {{patient.patient.fname}} {{patient.patient.lname}}
                <div class="float-end">
                    <form action="delete_appointment/{{ patient.patient.patient_id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="row mt-4">
    <div class="col">
        <h3>Pending Appointments</h3>
        <ul class="list-group">
            {% for patient in pending_appointments %}
            <li class="list-group-item"> {{patient.patient.fname}} {{patient.patient.lname}}
                <div class="float-end">
                    <form action="delete_appointment/{{ patient.patient.patient_id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
                <div class="float-end">
                    <form action="change_state/{{ patient.patient.patient_id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="btn btn-primary btn-sm  me-sm-3">{{patient.appointment_state}}</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock %}