{% extends 'base.html' %}

{% block title %} Appointments{% endblock %}

{% block content %}

    <!--Container-->
    <div class="row py-5">
        <div class="col py-3 px-5">
            <h1 id="Page-title">Appointments</h1>
            <!--Appointment Title-->
        </div>
    </div>
    <div class="row px-5">

        <!--New Appointment Button-->
        <div class="col-5">
            
                <button class="btn btn-primary btn-md" id="Add-btn" type="submit"
                data-bs-target="#newappointmentpopup" data-bs-toggle="modal" data-bs-dismiss="modal">New appointment</button>
        
        </div>
        <!--End New Appointment Button-->

        <!--Droplist-->
        <div class="col d-flex justify-content-end">
            <div class="btn-group">
                <select  id='user-input'>
                  <option >All</option>
                  <option >Pending</option>
                  <option >Approved</option>
                </select>
            </div>
        </div>
        <!--End Droplist-->

        <!--Search bar-->
        <div class="col">
            <form class="d-flex" method='get'>
                <input class="form-control me-2" type="search" placeholder="Form.." aria-label="Search" id='date_from' onfocus="(this.type='date')">
                <input class="form-control me-2" type="search" placeholder="To.." aria-label="Search" id= 'date_to' onfocus="(this.type='date')">  
                <button class="btn btn" id="Search-btn">Search</button>
            </form>
        </div>
    </div>
    <!--End Search bar-->

    <div class="row px-5 py-5" id="replaceable-content">
        <!--row-->

        <!--Appointment List-->
        {% include 'partials/appointments_search.html' %}
    </div>
    <!--End row-->

</div>
<!--End Container-->

<!--main row-->

<!--main container-->

<div class="modal fade" id="newappointmentpopup" aria-hidden="true" aria-labelledby="newappointmentpopuplabel"
          tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- === Modal Header === -->
              <div class="modal-header text-center shadow mb-3" id="modalheader">
                <h5 class="modal-title w-100" id="newappointmentpopuplabel">New Appointment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <!-- === End Modal Header === -->

              <!-- === Modal Body === -->

              <div class="modal-body">
                <div class="container">
                  <!--rightside main container-->
                  <div class="row">
                    <!--rightside main row-->
                    <div class="col px-4">
                      <!--rightside main Col-->

                      <form enctype="multipart/form-data" action="{% url 'appointments:add-appointment' %}" method='POST'>
                        {% csrf_token %}
                        <div class="row py-1">
                          <!--First name-->
                          {{patient_form.fname}}
                        </div>

                        <div class="row py-1">
                          <!--Last name-->
                          {{patient_form.lname}}
                        </div>
                        <div class="row py-1">
                          <!--Birth date-->
                          {{patient_form.birth}}  
                        </div>
                        <div class="row py-1">
                          <!--Mail-->
                          {{patient_form.email}}
                        </div>
                        <div class="row py-1">
                          <!--Phone num-->
                          {{patient_form.phone}}
                        </div>
                        <div class="row py-1">
                          <!--Adresse-->
                          {{patient_form.adresse}}
                        </div>

                        <div class="row py-1"><!--Date-->
                      <input type="text" class="form-control form-control-lg" name='appointment_date' id="colFormLabelLg" placeholder="Appointment date .." onfocus="(this.type='date')"> 
                      <input type="hidden" value="Pending" name='status'>
                      <input type="hidden" value="no_success" name='dirc'>  
                    </div>

                        <div class="row py-1">
                          <div class="col d-flex justify-content-center py-3">
                            <button class="btn btn-primary btn-lg" type="submit" id="create-profile-btn">Book your appointment</button>
                          </div>
                        </div>

                      </form>

                    </div>
                    <!--End rightside main Col-->
                  </div>
                  <!--End rightside main row-->
                </div>
                <!--End rightside main container-->
              </div>

              <!-- === End Modal Body === -->

            </div>
          </div>
        </div>
{% endblock %}

{% block custom_js %}
<script>
const user_input= $("#user-input")
const search_icon = $('#Search-btn')
const artists_div = $('#replaceable-content')
const endpoint = '/appointments/'
const delay_by_in_ms = 700
let scheduled_function = false

let ajax_call = function (endpoint, request_parameters) {
    $.getJSON(endpoint, request_parameters)
        .done(response => {
            // fade out the artists_div, then:
            artists_div.fadeTo('slow', 0).promise().then(() => {
                // replace the HTML contents
                artists_div.html(response['html_from_view'])
                // fade-in the div with new contents
                artists_div.fadeTo('slow', 1)
                // stop animating search icon
                search_icon.removeClass('blink')
            })
        })
}


$('#user-input,#date_to').on('change', function () {

    const request_parameters = {
        q: $(this).val(),
        from: $('#date_from').val(),
        to: $('#date_to').val(), // value of user_input: the HTML element with ID user-input
    }


    // start animating the search icon with the CSS class
    search_icon.addClass('blink')

    // if scheduled_function is NOT false, cancel the execution of the function
    if (scheduled_function) {
        clearTimeout(scheduled_function)
    }

    // setTimeout returns the ID of the function to be executed
    scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
})
</script>
{% endblock  %}