{% extends 'base.html' %}
{% load static %}

{% block title %} View Prescription {% endblock %}

{% block content %}

<div class="col-xl-10"
    style="background-color: #fafafa; height: 100vh; background-image: url('{% static 'img/patient_form/01.png' %}');">

    <div class="container px-lg-5">
        <div class="row mx-lg-5 px-lg-5">
            <div class="col mx-lg-5 px-lg-5">



                <!-- === Modal Body === -->
                <div class="modal-body">
                    <div class="row mt-4">
                        <div class="col pt-2 d-flex justify-content-center">
                            <img src="{% static 'img/patient_form/prescreption-01.svg' %}" alt="logo"
                                style="width:50%;">
                        </div>
                    </div>
                    <hr style="margin-top: 43px; display: block;">
                    <div class="row px-3">
                        <div class="col">
                            Date: {{presc_data.doc_date}}<br> <br>
                            Patient Name: {{patient.fname}} {{patient.lname}}<br>
                            Sex:  Mba33d<br>
                            Age: {{patient.age}}<br>
                            Patient file No. {{presc_data.patient.patient_id}}<br>
                        </div>
                    </div>

                    <hr style="display: block;">

                    <div class="container">
                        <div class="row px-3">
                            <div class="col-2">
                                <p>Drug name</p>
                            </div>
                            <div class="col">
                                <p>Dosage</p>
                            </div>
                            <div class="col-3">
                                <p>Timing</p>
                            </div>
                            <div class="col">
                                <p>Morning</p>
                            </div>
                            <div class="col">
                                <p>Noon</p>
                            </div>
                            <div class="col">
                                <p>Night</p>
                            </div>
                            <div class="col-2">
                                <p>Duration</p>
                            </div>
                        </div>

                        <div class="row px-3">
                            <div class="col-2">
                                Doliprane
                            </div>
                            <div class="col">
                                100mg
                            </div>
                            <div class="col-3">
                                After meal
                            </div>
                            <div class="col">
                                01
                            </div>
                            <div class="col">
                                00
                            </div>
                            <div class="col">
                                02
                            </div>
                            <div class="col-2">
                                05 Days
                            </div>
                        </div>

                        <div class="row px-3">
                            <div class="col-2">
                                Grippex
                            </div>
                            <div class="col">
                                500mg
                            </div>
                            <div class="col-3">
                                During meal
                            </div>
                            <div class="col">
                                02
                            </div>
                            <div class="col">
                                00
                            </div>
                            <div class="col">
                                00
                            </div>
                            <div class="col-2">
                                10 Days
                            </div>
                        </div>

                        <div class="row px-3">
                            <div class="col-2">
                                Lactofibre
                            </div>
                            <div class="col">
                                250mg
                            </div>
                            <div class="col-3">
                                Before meal
                            </div>
                            <div class="col">
                                00
                            </div>
                            <div class="col">
                                01
                            </div>
                            <div class="col">
                                01
                            </div>
                            <div class="col-2">
                                25 Days
                            </div>
                        </div>

                        <div class="row px-3 mt-5">
                            <div class="col-2">
                                <p>Note</p>
                            </div>
                        </div>
                        <div class="row px-3">
                            <div class="col">
                                {% for x in drug_data %}
                                {{x}}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row px-3">
                            <div class="col">
                                {{drug_data}}
                            </div>
                        </div>
                    </div>

                    <hr style="display: block;">

                    <div class="row px-3">
                        <div class="col">
                            Doctor name: <br>
                        </div>
                        <div class="col ps-5">
                            Signature.
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>

                    <div class="modal-footer text-center">
                        <button id="adddrug" class="btn btn-primary w-100" type="button">Print</button>
                    </div>

                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'prescriptions:prescriptions' %}"> <button id="back" class="btn btn-secondary"
                                type="button" style="width: 100%;">⮌
                                Back</button>
                        </a>
                    </div>



                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}