{% extends 'appointments\book_appointment\base_book.html' %}

{% load static %}




{% block content %}
<div class="col-xl-8" style="background-color: #fafafa; height: 100vh;">
              <div class="d-flex justify-content-center">
                <img class="success-img" src="{% static 'img/appointment_form/tick.png' %}" alt="appointment-img">
              </div>
              <div class="d-flex justify-content-center">
                <h2>Your request has been<br>submitted successfully!</h2>
              </div>
            </div>
        </div>
      </div>
{% endblock  %}